@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/
.site{
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
.site__main{
  width: 70%;
  height: 100%;
  background-color: #F7F8FA;
  flex-direction: row;
}
.site__left-sidebar{
  position: fixed;
  flex-basis: auto;
  flex-grow: 0;
  width: 160px;
}

.site__left-sidebar h2{
  font-weight: 20px;
  font-color: #515151 100%;
  font-size: 48px;
  font-face: AvenirNext-DemiBold;
}
.site__content{
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 160px;
}
.products{
  flex-direction: row;
  flex-wrap: wrap;
}
.product {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;
}
.product__display{
  border: 5px solid #D8D8D8 ;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  background-color: white;
}
.product__add{
  background-color: #D8D8D8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-self: center;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.product__add__icon{
  width: 36px;
  height: 36px;
}
.product__price {
  position: absolute;
  top: 20px;
  right: 20px;
}
.product__description {
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 0;
}

.product__name{
  text-color:#DC1A00;
  font-size: 18px;
  font-face: AvenirNext-UltraLight;
  flex: 5 1 0;
  word-break: break-all;
}
.product__heart{
  flex: 1 1 auto;
}
.site__right-sidebar{
  position: fixed;
  width: 30%;
  height: 100%;
  padding: 20px;
  background-color: #C4CCDA;
}
.cart {
  flex: 1 0;  
  overflow-y: scroll;
  padding-bottom: 20px;
  position: static;
}
.cart__title{
  position: absolute;
  z-index: 999;
  top: 0;
  height: 50px;
  width: 100%;
  padding:20px;
}
.cart__content {
  margin-top: 50px;
}
.cart-item{
  height: 100px;
  margin-bottom: 20px;
  flex-direction: column;
}
.cart-item__top-part{
  flex: 3 1 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.cart-item__image{
  flex-basis: 33%;
}
.cart-item__image img {
  border: 2px solid #d8d8d8;
  width: 100%;
}

.cart-item__top-part__middle{
  flex: 2 1 auto;
  padding-left: 20px;
}
.cart-item__price {
  font-size: 20px;
  font-family: AvenirNext-DemiBold;
  color: #202020;
  margin-top: 2px;
}
.cart-item__trash {
  width: 20px;
  height: 24px;
}
.cart-item__qty{
  flex: 1 1 0;
  flex-direction: row;
  align-items: center;
}
.cart-item__qty .adjust-qty {
  margin: 0 10px 0 10px;
  flex-basis: 33%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.adjust-qty__button {
  flex: 0 auto;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #f7f8fa;
  border-radius: 50%;
}
.adjust-qty__number {
  flex: 1 0;
  text-align: center;
}
.checkout {
  height: 300px;
}
.checkout__divider {
  width: 50%;
  background-color: #D8D8D8;

}
.checkout__alert {
  margin: 10px 0;
  color: #DC1A00;
  font-size: 18px;
  font-family: "AvenirNext-DemiBold";
}
.checkout__amount-group {
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: stretch;
}
.checkout__amount-line{
  flex-direction: row;
}